// Colors
$text-color: #979ba3;
$date-color: #acb0b8;
$heading-color: #5a5b5f;
$bg-light: #fafcfc;
$bg-dark: #191b1f;
$border-color: #e8ebee;
$main-color: #e7604a; // red
$violet-color: #7b33d4; // violet
$turquoise-color: #1abc9c; // turquoise
$blue-color: #29c7c8; // light blue
$orange-color: #e79c4b; // orange
$darkblue-color: #4693cc; // dark blue


// Fonts
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Roboto', sans-serif;
$alt-font: 'Merriweather', serif;
$body-font-size: 15px;