input[type=button], input[type=submit], button, .btn:not(.dropdown-toggle), .btn-secondary {
    background-color: map-get($color-secondary, 500);
    border: 0px;
    border-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 12px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;

    &:hover {
        color: #fff; 
    }

    &:focus {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        color: #fff;
        outline: 0px !important;
    }

    .fa {
        font-size: 14px; 
        margin-right: 10px;
        opacity: .7;
        transition: opacity .15s linear;
    }
}

.btn-secondary {
    background-color: map-get($color-primary, 600) !important;
}

.btn-simple { 
    color: map-get($color-secondary, 400);
    cursor: pointer;
    font-size: 14px;
    padding: 6px 12px;
    text-transform: uppercase;

    &:hover {
        color: map-get($color-secondary, 400);
        text-decoration: none;
    }
}

.btn-xl {
    font-size: 15px;
    font-weight: 600;
    padding: 12px 28px;
}

.btn-file, .fileinput-remove, .fileinput-upload-button {
    border-color: transparent;
    box-shadow: none !important;
    padding: 9px 12px;

    &:focus, &:hover {
        border-color: transparent;
    }
}

.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
    -webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0; 
        -webkit-transform: scale(2.5); 
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0; 
        -moz-transform: scale(2.5); 
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0; 
        -o-transform: scale(2.5); 
    }
}

@keyframes ripple {
    100% {
        opacity: 0; 
        transform: scale(2.5); 
    }
}