body.layout-boxed {
    #video-wrap, #cover-video {
        width: auto !important;
    }
}

.cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
    overflow: hidden;

    &:after {
        background-color: rgba(map-get($color-primary, 200), .15); 
        bottom: 0px;
        content: '';
        display: block;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 10;
    }

    video {
        position: absolute;
        width: 100%;
    }
}

.cover-search-wrapper {
    background-color: rgba(white, .9); 
    bottom: 0px;
    left: 0px;
    padding: 30px;
    position: absolute;     
    right: 0px;
    z-index: 99;

    body.layout-boxed & {
        padding: 30px 0px;
    }

    @media (max-width: $screen-xs-max) {
        position: relative;
    }

    .form-group {
        margin-bottom: 20px;
    }
}

.cover-search {
    @extend .container;    

    @media (max-width: $screen-xs-max) {
        margin: 0px 0px 20px 0px;
        padding: 0px;
    }        

    .form-group {
        margin: 0px;

        @media (max-width: $screen-xs-max) {
            margin-bottom: 20px; 
        }        
    }

    button[type="submit"].btn {
        height: 48px;
        margin-top: 16px;
    }

    .form-control {
        background-color: #fff;
    }
}

.cover-search-inner {
    @extend .col-sm-12; 

    padding: 0px;   
} 

.cover-title {
    color: #fff;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 130px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 91;

    h1, h2 {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(black, .45);
    }

    h1 {
        font-weight: 600;
        font-size: 72px;
    }

    h2 {
        font-size: 34px;
    }
}
