.realestate-package-info {
	background-color: map-get($green, 500);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
	color: #fff;
	margin: 0px 0px 30px 0px;
	padding: 30px;

	.form-group {
		margin: 0px;
	}

	form {
		margin-top: 30px;

		button[type=submit] {
			height: 48px;
		}
	}

	.bootstrap-select button.btn {
		box-shadow: 0px 1px 0px 0px rgba(white, .9);
		color: rgba(white, .9);
	}

	.bootstrap-select.open button.btn {
		box-shadow: 0px 2px 0px 0px rgba(white, 1) !important;
		color: rgba(white, 1) !important;	
	}

	.bootstrap-select div.dropdown-menu li.selected a {
		background-color: map-get($green, 800) !important;

		&:hover {
			background-color: map-get($green, 800) !important;			
		}
	}
}

.package-info {	
	font-size: 20px;
	font-weight: 300;
	line-height: 38px;
	text-align: center;
}