.properties-sort {
    background-color: #fff;
    border: 1px solid map-get($grey, 100);
    margin: 0px 0px 30px 0px;
    padding: 16px;

    h3.page-header {
    	border: 0px;
    	margin: 4px 0px 0px 0px;
    }
}
