.property-small {
    @extend .clearfix;
    border-bottom: 1px solid rgba(black, .12);
    margin: 0px 0px 16px 0px;
    padding: 0px 0px 16px 0px;

    .footer & {
        border-bottom: 1px solid rgba(white, .12);
    }

    &:last-child {
        border-bottom: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}


.property-small-image {
    float: left;
    margin: 0px 20px 0px 0px;
    position: relative;

    img {
        border-radius: 4px;
        height: auto;
        position: relative;
        width: 61px;
        z-index: 2;
    }

    &:before {
        @include placeholder('\f015', 20);
    }

    &.without-image {
        background-color: rgba(black, .12);
        border-radius: 2px;
        min-height: 61px;
        width: 61px;
    }

}

.property-small-title {
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0px 7px 0px;

    a {
        color: map-get($grey, 800);

        .footer & {
            color: #fff;
        }
    }
}

.property-small-type {
    color: map-get($grey, 500);
    font-size: 11px; 
    font-weight: 600;
    line-height: 1;
    margin: 0px 0px 7px 0px;
    text-transform: uppercase;

    .footer & {
        color: #fff;
        opacity: .7;
    }
}

.property-small-price {
    color: map-get($color-secondary, 400); 
    display: inline-block;
    font-size: 12px;
    font-weight: 600; 

    .footer & {
        color: #fff;
    }
}

.sidebar .widget_properties_widget {
    background-color: transparent;
    box-shadow: none;
    padding: 16px 0px;
}