.type-only-image {
	.row {
		@media (min-width: $screen-sm-min) {
			&:last-child {
				.property-only-image {
					margin-bottom: 0px;
				}
			}
		}

		@media (max-width: $screen-xs-max) {
			&:last-child {
				> div {
					&:last-child {
						> div {
							margin-bottom: 0px;
						}
					}
				}
			}
		}
	}
}

.property-only-image {
	margin-bottom: 30px;

	img {
		border-radius: 4px;
		height: auto;
		width: 100%;
	}
}