.property-simple-wrapper {
    margin-bottom: -30px;
}

.property-simple {
    margin-bottom: 30px;
}

.property-carousel.owl-carousel .owl-stage-outer {
//    padding: 0 20px;
}

.property-carousel-item > div {
    overflow: hidden;
}

.property-simple-image {
    @include image_hover;
    background-color: rgba(black, .15);
    display: block;
    height: 175px;
    position: relative;

    &:before {
        @include placeholder('\f015', 40);
    }

    img {
        display: block;
        position: relative;
        height: 100%;
        width: auto !important;
        z-index: 2;
    }
}

.property-simple-title {
    font-size: 15px;
    margin: 15px 0px 0px 0px;

    a {
        color: #232323;
    }
}

.property-simple-price {
    color: map-get($color-secondary, 400);
    font-weight: 600;
}

.property-simple-location {
    color: #9E9E9E;
    display: block;
    font-size: 11px;
    font-weight: 500;    
    list-style: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    text-overflow: ellipsis;
    text-transform: uppercase;    
    white-space: nowrap;
    width: 100%;
}

.property-simple-status {
    color: rgba(black, .7);
    font-size: 11px;
    margin: 3px 0px 0px 0px;

    strong.red {
        color: map-get($red, 400);
    }

    strong.green {
        color: map-get($green, 400);
    }
}