.property-detail-description {
	color: map-get($grey, 600);
	line-height: 30px;
	margin-bottom: 30px;
}

.property-floor-plans {	
	a {
		box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
		display: inline-block;
		margin: 0px 15px 0px 0px;
	}
}

.property-sticky {
	outline: 2px solid map-get($grey, 300);

	.widget_properties_widget & {
		outline: 0px;
	}
}

.property-valuation .module-info {
	min-width: 80px;
	white-space: nowrap;
}