.sidenav {
	background-color: #fff;
	bottom: 0px;	
	height: 100%;
	position: fixed;
	right: -240px;
	top: 0px;
	transition: right .2s linear;
	overflow: auto;
	width: 240px;
	z-index: 9999;

	.admin-bar & {
		top: 32px;

        @media screen and (max-width: 782px) {
            padding-top: 46px;
        }		
	}

	body.has-sidenav & {
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);	
		right: 0px;
	}

	h2 {
		border-bottom: 1px solid map-get($grey, 300);		
		color: map-get($grey, 700); 
		font-size: 15px;
		line-height: 1;
		margin: 0px -30px 16px -30px; 
		padding: 16px 30px;
	}

	.menu {
		list-style: none;
		
		li {
			margin: 0px;
			padding: 0px;
		}

		a {
			color: map-get($grey, 800);
			font-size: 13px;
			font-weight: bold;
			line-height: 44px;
			margin: 0px;
			padding: 0px;

			&:hover {
				background-color: transparent;
			}
		}
	}

	.widget {
		margin-bottom: 20px;

		.btn {
			display: block;
		}
	}
}

.sidenav-inner {  
	padding: 0px 30px 16px 30px; 
}

.navbar-toggle, .sidenav-toggle {
	cursor: pointer;
	float: right;
	margin: 18px 0px 0px 40px;
	text-align: center;
	width: 56px;

	.fa {
		color: map-get($color-primary, 100);		
		font-size: 20px;
		transition: color .15s linear;
	}

	&:hover {
		.fa {
			color: #fff;
		}
	}
}

.sidenav-toggle {
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		margin-left: 20px;
	}
}

.navbar-toggle {
	display: none;
	float: left;
	margin: 18px 15px 0px 0px;
	width: auto;

	@media (max-width: $screen-xs-max) {
		display: block;
	}
}

.sidenav-close {
	color: map-get($grey, 700);
	cursor: pointer;
	font-size: 18px;
	position: absolute;	
	right: 16px;
	top: 11px;	
}