.transactions-table {
    color: map-get($grey, 700);
    margin: 0px 0px 30px 0px;
    width: 100%;

    thead {
        th {
            background-color: map-get($color-primary, 400);
            color: #fff;
            padding: 6px 12px;

            @media (max-width: $screen-xs-max) {
                padding: 6px;
            }            
        }
    }

    tbody {
        td {
            vertical-align: middle;
            padding: 12px;

            @media (max-width: $screen-xs-max) {
                padding: 6px;
            }

            strong {
                color: map-get($grey, 400);
                display: block;
                font-size: 11px;
                font-weight: 600;
                margin: 0px 0px 15px 0px;
                text-transform: uppercase;
            }
        }

        tr:nth-child(odd) {
            td {
                background-color: #fff;
            }
        }

        tr:nth-child(even) {
            td {
                background-color: map-get($grey, 50);
            }
        }
    }
}