.widget_search {
    .input-group {
        margin: 0px;
    }
}

.widget {
    .children, .sub-menu {
        background-color: rgba(black, .03);
        margin: 8px -16px -8px -16px !important;
        padding: 0px 33px !important;

        .children, .sub-menu {
            margin: 8px -33px -8px -33px !important;
            padding: 0px 40px !important;
        }
    }
}

.widget.widget_nav_menu {
    padding-bottom: 0px !important;
}

.sidebar .widget {
    @extend .clearfix;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    margin-bottom: 15px;
    padding: 16px;

    .btn {
        float: right;
    }

    img {
        height: auto;
        max-width: 100%;
    }

    p {
        color: map-get($grey, 700);
    }

    .widget-simple & {
        background-color: transparent;
        box-shadow: none;
        padding: 0px;
    }

    .wp-caption-text {
        font-size: 12px;
        font-style: italic;
        font-weight: normal;
        text-align: center;
    }

    &:last-child {
        margin-bottom: 0px;
    }

    .rsswidget {
        line-height: 22px;
    }

    &.widget_rss {
        li {
            margin-bottom: 30px !important;
            padding-bottom: 20px !important;

            &:before {
                display: none;
            }

            .rssSummary {
                font-size: 13px;
            }

            .rsswidget {
                display: block;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .rss-date {
                display: block;
                font-size: 11px;
                text-align: right;
            }
        }
    }

    .rssSummary, .rss-date {
        line-height: 28px;
    }

    .widgettitle {
        border-bottom: 1px solid rgba(black, .12);
        color: rgba(black, .5);
        font-size: 22px;
        font-weight: normal;
        line-height: 60px;
        margin: -16px 0px 15px 0px;
    }

    ul:not(.dropdown-menu) {
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
            border-bottom: 1px solid map-get($grey, 100);
            color: map-get($grey, 600);
            display: block;
            font-size: 15px;
            line-height: 24px;
            padding-bottom: 8px;
            padding-top: 8px;

            a {
                color: map-get($grey, 600);
            }

            &:hover {
                color: map-get($grey, 700);
                text-decoration: none;

                &:before {
                    content: '\f111';
                }
            }

            &:before {
                color: map-get($color-secondary, 400);
                content: '\f10c';
                font-family: 'FontAwesome';
                font-size: 9px;
                margin: 0px 8px 0px 0px;
                vertical-align: 2px;
            }
        }

        li {
            margin: 0px;

            &:last-child {
                    border-bottom: 0px;
            }
        }
    }
}

.widget_carousel_widget {
    margin: 0px;
}

.widget_horizontal_filter_widget {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    margin: 0px 0px 0px 0px;
    padding: 30px 0px;

    h2 {
        margin-top: 0px;
    }

    .row-submit {
        .form-group {
            float: right;
            margin: 0px;
        }
    }

    .form-group, .input-group {
        margin-bottom: 25px;
    }

    .no-title {
        padding-top: 30px;
    }
}

#wp-calendar {
    margin: 0px 0px 10px 0px;
    width: 100%;

    caption {
        font-style: italic;
        margin: 0px 0px 5px 0px;
        text-align: center;
    }

    th, td {
        color: map-get($grey, 700);
        padding: 4px;
        text-align: center;
    }

    th {
        color: map-get($grey, 600);
        background-color: map-get($grey, 200);
    }

    #prev {
        padding-top: 10px;
        text-align: left;
    }

    #next {
        padding-top: 10px;
        text-align: right;
    }
}

.contact-box {
    @extend .clearfix;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
    margin-bottom: 30px;

    h2 {
        margin-bottom: 20px;
    }

    table {
        margin-top: 20px;
        margin-bottom: 15px;

        th {
            padding-right: 6px;
        }

        td {
            color: map-get($grey, 600);
        }
    }

    p {
        color: map-get($grey, 500);
    }

    .social-links {
        list-style: none;

        li {
            display: inline-block;
            margin: 0px 10px 0px 0px;
        }
    }

    .btn-social {
        border-radius: 50%;
        box-shadow: none;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 6px;
        margin-top: 15px;
        background-color: map-get($grey, 600);
        height: 32px;
        width: 32px;
        transition: all linear .15s;

        .fa {
            margin-top: 2px;
            margin-left: -2px;
            opacity: 1;
            font-size: 14px;

            &:hover {
                opacity: 1;
            }
        }

        &:hover, &:focus {
            box-shadow: none;
        }
    }

    .btn-facebook {
        background-color: #0091EA;

        .fa {
            margin-left: -1px;
        }
    }

    .btn-twitter {
        background-color: #40c8ff;
    }

    .btn-google-plus {
        background-color: #d71d2f;
    }

    .btn-linkedin {
        background-color: #0a62c7;
    }

    .btn-youtube {
        background-color: #d7264f;

        .fa {
            margin-left: -2px;
        }
    }

    .contact td {
        padding-bottom: 4px;
    }

    > .row {
        padding: 25px;
    }

    @media (max-width: $screen-md-max) {
        .contact-label {
            display: none;
        }

        .contact i {
            margin-right: 0px;
        }
    }

    @media (max-width: $screen-sm-max) {
        input[type=email] {
            margin-top: 18px;
        }
    }
}

#simple-map {
    .simple-marker {
        background-color: #fff;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-top: 25px;
        background-color: map-get($color-secondary, 600);

        &:before {
            color: #fff;
            -webkit-font-smoothing: antialiased;
            content: "\f015";
            font-family: fontawesome;
            font-size: 24px;
            margin-left: 14px;
            margin-top: 12px;
            display: inline-block;
            position: relative;
        }
    }
}
