@import 'init';
@import 'helpers/colors';

$image-path: '../../img/';

$black: (
  50: #bdbdbd,
  100: #acacac,
  200: #9a9a9a,
  300: #868686,
  400: #6e6e6e,
  500: #5b5b5b,
  //600: #464646,
  600: #232323,
  //700: #333333,
  700: #000000,
  800: #1d1d1d,
  900: #000000,
);

$silver: (
  50: #c6c6c6,
  100: #c6c6c6,
  200: #c6c6c6,
  300: #c6c6c6,
  400: #c6c6c6,
  500: #c6c6c6,
  600: #c6c6c6,
  700: #c6c6c6,
  800: #c6c6c6,
  900: #c6c6c6,
);

$color-primary: $black;
$color-secondary: $silver;
$color-black: $grey;

@import 'core';